* {
  box-sizing: border-box;
  padding: 0px;
}

body {
  font-family: Montserrat;
}

.title {
  font-weight: 400;
  font-style: Regular;
  font-size: 70px;
  line-height: 78px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #515076;
  padding-top: 150px;
  padding-bottom: 50px;
}

.img-product {
  margin: 25px;
  top: 433px;
  left: 110px;
  opacity: 1;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skin-type {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #A5A3B9;
  padding-left: 25px;
}

.product-name {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #515076;
  padding-left: 25px;
}

.description {
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #515076;
  padding-left: 25px;
  padding-right: px;
  font-size: 13px;
}

.list {
  top: 820px;
  color: #515076;
  padding-left: 45px;
}

.compound { 
  list-style: none;
  padding-left: 25px;
  color: #515076;
  font-size: 13px;
}

.price, .price-value {
  top: 932px;
  left: 110px;
  color: #515076;
}

.included-in-the-list {
  padding-right: 90px;
  font-size: 13px;
  white-space: nowrap;
  padding-top: 5px;
}

.price-container {
  padding-top: 20px;
  padding-left: 25px;
}

.price-value {
  padding-left: 180px;
  padding-right: 25px;
}

.li-style {
  list-style: none;
  width: 340px;
  height: 573px;
  left: 85px;
  top: 408px;
  /* back violet */
  background: #F7F7FA;
  box-shadow: 2px 2px 10px rgba(81, 80, 118, 0.1);
}

.background {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
}
